- set_body_id('page-parties-change')
.page-section
  .parties-new-form-container
    - if @party.present?
      %h3
        = t('views.templates.party.headings.saved')
      = simple_form_for(@party) do |f|
        = f.input(:email,
            required: true,
            label: t('views.templates.party.labels.email'))
        = f.input(:phone,
            required: true,
            label: t('views.templates.party.labels.phone'))
        = f.input(:address,
            required: true,
            label: t('views.templates.party.labels.address'))
        = t('views.templates.party.labels.guests_all')
        %ul.guest_list
          - @party.guests.each_with_index do |guest, index|
            %li.guest-item
              = f.input_field(:last_names,
                  multiple: true,
                  placeholder: t('views.templates.party.placeholder.last_name'),
                  label: false,
                  value: guest.last_name,
                )
              = f.input_field(:first_names,
                  multiple: true,
                  placeholder: t('views.templates.party.placeholder.first_name'),
                  label: false,
                  value: guest.first_name,
                )
              - unless index == 0
                %button.btn.btn-remove-guest
                  %i.fa.fa-times
        %button.btn.btn-add-guest
          = t('views.templates.party.buttons.add_guest')
        .parties-new-form-actions
          = f.button :submit,
              class: "btn-primary",
              value: t('views.templates.party.buttons.submit')
    - else
      %h3
        = t('views.templates.party.headings.invalid')
