- set_body_id('page-parties-new')
.page-section
  .parties-new-form-container
    %h3
      = t('views.templates.party.headings.new')
    = link_to load_parties_path, class: "js-load-reservation" do
      = t('views.templates.party.links.update')

    = simple_form_for(@party) do |f|

      = f.input(:email,
          required: true,
          label: t('views.templates.party.labels.email'))
      = f.input(:phone,
          required: true,
          label: t('views.templates.party.labels.phone'))
      = f.input(:address,
          required: true,
          label: t('views.templates.party.labels.address'))
      = f.input(:remarks,
          required: false,
          label: t('views.templates.party.labels.remarks'))
      %ul.guest_list
        %span.guest_list_title
          = t('views.templates.party.labels.your_name')
        %li.guest-item
          = f.input_field(:first_names,
              multiple: true,
              placeholder: t('views.templates.party.placeholder.first_name'),
              label: false)
          = f.input_field(:last_names,
              multiple: true,
              placeholder: t('views.templates.party.placeholder.last_name'),
              label: false)
          .checkbox
            = check_box_tag 'party[vegetarian][]', true, false, style: 'margin: 0'
            = label_tag 'party[vegetarian][]', "I'm Vegetarian"


        %span.guest_list_title
          = t('views.templates.party.labels.guests')
      %button.btn.btn-add-guest
        = t('views.templates.party.buttons.add_guest')



      .parties-new-form-actions
        -# = f.submit
        = f.button :submit,
            class: "btn-primary",
            value: t('views.templates.party.buttons.submit')

    .header_text
      %h5= "#{t('views.templates.party.labels.you_may')}:"
      .detail-row= t('views.templates.party.labels.nathan_details', email: link_to('nateguy@gmail.com', "mailto:nateguy@gmail.com"), phone: "95364865").html_safe
      .detail-row= t('views.templates.party.labels.vivian_details', email: link_to('vivianlowc@hotmail.com', "vivianlowc@hotmail.com"), phone: "94853113").html_safe
