.page-section
  .page-section__wedding_party
    .page-section__wedding_party_title
      = "Groomsmen"
    .page-section__wedding_party_people
      = "Andrew Nunn"
      = "Jordan Tseng"
      = "Byron Tseng"
      = "Eric Low"
      = "Kevin Kan"
  .page-section__wedding_party
    .page-section__wedding_party_title
      = "Bridesmaids"
    .page-section__wedding_party_people
      = "Chiaki Chan"
      = "Peony Tang"
      = "Ada Lau"
      = "Hilda Tsang"
      = "Doreen Ng"
