!!! 5
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', "http-equiv" => "Content-Type"}
  %body
    %p
      = t('mailer.parties.dear', name: guest_list)
    %p
      = t('mailer.parties.thank_you')
    %p
      = t('mailer.parties.in_case')
      = link_to parties_path do
        = t('mailer.parties.link')
      = t('mailer.parties.enter_code')
      %b= party.reference_code
