!!! 5
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', "http-equiv" => "Content-Type"}
  %body
    %p
      = "Dear #{@guest_list_raw}"
    %p
      = "Thanks for RSVP'ing and we look forward to seeing you in December! You can contact Nathan (nateguy@gmail.com) or Vivian (vivianlowc@hotmail.com) if you have any questions in the meantime."
    %p
      = "In case you need to change your RSVP details, go to this"
      = link_to parties_path do
        = "link"
      = "and enter your RSVP reference code"
      %b="#{@party.reference_code}"
