.cell-parties-modal
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        = t('concept.parties.modal.header')
        %button.btn.close{data: {dismiss: 'modal'}, aria: {label: "close"}}
          %span{aria: {hidden: "true"}}
            %i.fa.fa-times
      .modal-body
        .cell-parties-modal--form-body
          = simple_form_for(party, url: change_parties_path, method: :get,
              html: {data: {method: :get}}) do |f|
            = f.input :reference_code, label: false, input_html: {tabindex: 1}
            = f.button :submit, "Submit"
        .cell-parties-modal--form-body-text
          %span= t('concept.parties.modal.label')
          %span= mail_to 'nateguy@gmail.com'
