!!! 5
%html{id: body_id}
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}

    = stylesheet_link_tag 'application', media: 'all'
    %title
      = "Nate and Vivian"
  %body
    #page-container.page-container
      = render 'layouts/components/shared/flashes'
      = render("layouts/components/shared/navbar")
      .container
        .main-container
          = yield

    = javascript_include_tag "application"
= javascript_tag do
  I18n.defaultLocale = "#{I18n.default_locale}";
  I18n.locale = "#{I18n.locale}";
